/*Index Styles*/
body{
  background-color: #ffff19;
  text-align: center;
  font-size: 24px;
  margin: 0;
}

#logo{
  margin: 30px auto;
  height: 200px
}

a{
  text-decoration: none;
  color: #FFF;
  font-size: 28px;
  text-transform: uppercase;;
}
#log{
  background-color: #ff3232;
  color: #FFF;
  padding: 20px;
}
#sign-up{
  background-color: #00BFFF;
  color: #FFF;
  padding: 20px;
}


#log:hover{
  background: #BA3232;
}

/*#sign-up:hover{
  background: #4169E1;
}*/

#sign-up:hover{
  background: #4682B4;
}

footer{
  position: relative;
  top: 330px;
}

/*Form styles*/
#form-page{
  background: #F6F6F6;
}
