body{
  background-color: #ffff19;
  text-align: center;
  font-size: 24px;
  margin: 0;
}

#logo{

  margin: 30px auto;
  height: 200px
}

a{
  text-decoration: none;
  color: #FFF;
  font-size: 28px;
}

#first-footer:hover{
  background: #BA3232;
}
#second-footer:hover{
  background: #4169E1;
}

#first-footer, #second-footer{
  text-transformation: capitalize;
}
#first-footer{
  background-color: #ff3232;
  color: #FFF;
  padding: 20px;
}

#second-footer{
  background-color: #00BFFF;
  color: #FFF;
  padding: 20px;
}

#second-footer:hover{
  color:  #4682B4;
}
footer{
  position: relative;
  top: 330px;
}
